
body {

    background-image: url(./media/Background_Anthracite.webp);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);

    font-family: 'Hubballi', cursive;
    font-size: 2rem;
}

h1, h2{
    font-family: 'Architects Daughter', cursive;
}

h2{
    font-size: 2rem!important;
}

p{
    
    font-weight: bolder;
}

button, a {
    min-width: 120px;
}



#tavolo{
    min-height: 70vh;
    background-image: url(./media/table-background.jpeg);
    background-size: cover;
    border: 5px solid rgb(40, 21, 21);
    border-radius: 50px;
    opacity: 0.8;
    
}

#btnContainer{

    background-color: rgba(245, 222, 179, 0.152);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.255);
}
#name {
    font-size: 1.3rem!important;
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in{
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.fade-out{
    animation-name: fade-out;
    animation-duration: 1.5s;
}

@keyframes fade-out{
    from {
        opacity:1;
        /* transform: translateY(20px); */
    }
    to {
        opacity:0.05;
        /* transform: translateY(0); */
    }
}

.points{
    
    color:rgba(245, 245, 245, 0.618);
    font-size: 1.5rem;
    background-color:rgba(245, 245, 245, 0.077);

}

#tabellone{
    background-color:rgba(245, 245, 245, 0.063);
}

.point{
    font-size: 3rem;

}

.punteggio{
    color: green;
    
}

.errori{
    color: red;
}

.turno{
    color: yellow;
}


.card{
    height: 100px;
    width: 70px;
    margin: 15px 40px 15px 40px;
    border: 3px solid rgb(26, 26, 26);
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.365);   
}

.card-ghost{
    height: 100px;
    width: 70px;
    background-color: white;
    margin: 15px 40px 15px 40px;
    border: 3px solid rgb(26, 26, 26);
    border-radius: 8px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.365);
    opacity: 0.05;
}



.card-front{
   background-color: white;
    
}



.card-back:hover{
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.454); 
}

.card-back{
    
    background-color: rgb(38, 38, 38) ;
    background-image: url(./media/time.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    
}



.board{
    width: 800px;
}


.cerchio{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
   
}

.rombo{
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    /* background-color: black;    */
}

.shape-blu{
    background-color:#0080fe;
}
.shape-giallo{
    background-color:#da833b;
}
.shape-verde{
    background-color:#DAA520;
}
.shape-rosso{
    background-color:#de0000;
}
.shape-viola{
    background-color:#4a2356;
}

.border-blu{
    border-color:#0080fe;
}
.border-giallo{
    border-color:#da833b;
}
.border-verde{
    border-color:#DAA520;
}
.border-rosso{
    border-color:#de0000;
}
.border-viola{
    border-color:#4a2356;
}


