
body {
    background-image: url(./media/Background_Anthracite.webp);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}

h1{
    font-family: 'Architects Daughter', cursive; 
}

#tavolo{
    min-height: 70vh;
    background-image: url(./media/table-background.jpeg);
    background-size: cover;
    border: 5px solid rgb(40, 21, 21);
    border-radius: 50px;
    opacity: 0.8;
    
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in{
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.fade-out{
    transition: 1s;
    opacity: 0;
}

.points{
    color:rgba(245, 245, 245, 0.543);
    font-size: 1.5rem;

}

.card-front{
    height: 100px;
    width: 70px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: white;
    margin: 15px 40px 15px 40px;

}

.board{
    width: 800px;
}


.cerchio{
    height: 40px;
    width: 40px;
    border-radius: 50%;
   
}

.rombo{
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    
    
    
}


