
body {
    background-image: url(./media/Background_Anthracite.webp);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
}

h1{
    font-family: 'Architects Daughter', cursive; 
}

#tavolo{
    min-height: 70vh;
    background-image: url(./media/table-background.jpeg);
    background-size: cover;
    border: 5px solid rgb(40, 21, 21);
    border-radius: 50px;
    opacity: 0.8;
    
}

.fade-in{
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in{
    from {
        opacity:0;
        transform: translateY(20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.fade-out{
    transition: 1s;
    opacity: 0;
}

.points{
    color:rgba(245, 245, 245, 0.543);
    font-size: 1.5rem;

}

.card{
    height: 100px;
    width: 70px;
    margin: 15px 40px 15px 40px;
    border: 3px solid black;
    border-radius: 8px;

    
}



.card-front{
   background-color: white;
    
}

.card-back{   
    background-color: rgb(38, 38, 38)    
}

.card-back:hover{
    background-color: rgb(80, 80, 80) 
}

.card-logo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    background-image: url(./media/time.png);
    background-size: contain;
    
}



.board{
    width: 800px;
}


.cerchio{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
   
}

.rombo{
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    /* background-color: black;    */
}

.shape-blu{
    background-color:#0080fe;
}
.shape-giallo{
    background-color:#da833b;
}
.shape-verde{
    background-color:#DAA520;
}
.shape-rosso{
    background-color:#de0000;
}
.shape-viola{
    background-color:#4a2356;
}

.border-blu{
    border-color:#0080fe;
}
.border-giallo{
    border-color:#da833b;
}
.border-verde{
    border-color:#DAA520;
}
.border-rosso{
    border-color:#de0000;
}
.border-viola{
    border-color:#4a2356;
}


